extend layout
block content
    script(type="text/javascript")
        var io = io.connect();

        function StatusController($scope) {
            $scope.Statuses = [];

            io.on('new status:#{ns}', function(data) {
                $scope.$apply(function() {
                    var name = data.name;
                    var elementToUpdate = _.find($scope.Statuses, function(value) {
                        return value.name === name;
                    });

                    if (typeof elementToUpdate === 'undefined') {
                        elementToUpdate = {ns: data.ns, name: data.name};
                        $scope.Statuses.push(elementToUpdate);
                    }

                    elementToUpdate.status = data.status;
                });
            });

            $scope.getWidth = function(status) {
                var range = status.max - status.min;
                var fraction = status.value / range;
                var percentage = fraction * 100;
                return { width: percentage + "%" };
            };
        };

    h1 #{ns}

    #statuses(ng-controller="StatusController")
        h3(ng-show="Statuses.length == 0") ...waiting for statuses...

        ul
            li(ng-repeat="status in Statuses")
                div.name {{status.name}}
                
                div.stoplight(ng-show="status.status.type == 'stoplight'")
                    div.stoplight(ng-class="status.status.color")
                        {{status.status.label}}

                div.meter(ng-show="status.status.type == 'meter'")
                    div.gauge(ng-style="getWidth(status.status)")
                        {{status.status.label}}
