!!!5
html(ng-app)
    head
        title baws
        link(rel='stylesheet',href='/css/style.css')
        script(src='/js/socket.io.js')
        script(src='/js/jquery.min.js')
        script(src='/js/angular.min.js')
        script(src='/js/underscore-min.js')
    body
        block content
