!!!5
html(ng-app)
    head
        title baws
        link(rel='stylesheet',href='/css/style.css')
        script(src='/js/socket.io.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
    body
        block content
